<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


  <div class="paytm">
    
      <div class="col-lg-12 text-center logo">
          <img src="/assets/images/ptmlogo.png" class="img responsive">
      </div>
      <div class="col-lg-12 text-center secion-first">
        <p class="f12 mb-0">Paid Successfully to</p>
        <h5 class="text-bold mt-5">n square</h5>
        <h3 class="text-bold actual-amt"> &#8377; 7000 <img src=""></h3>
        <h6 class="order-id">Order ID:20180807 21254300</h6>
        <p class="f12 mb-0">09:25 PM, 07 Aug 2018</p>
      </div>
      <div class="hr"></div>
        <div class="col-lg-12 text-center conf">
          <p>Request Paytm to resend payment confirmation</p>
          <p>to <span>n square</span></p>
        </div>
      <div class="hr"></div>
      <div class="row updated-bal">
        <div class="col-xs-6">
          <p>Updated Wallet Balance</p>
        </div>
        <div class="col-xs-6 text-right">
          <p><span class="saved-money">&#8377;344.01</span><span class="logout">Logout</span></p>
        </div>
      </div>
        <div class="row ">
          <div class="col-lg-12">
            <ul class="wallet-next">
              <li><img><a href="#">Add money to wallet</a></li>
              <li><img><a href="#">View Passbook</a></li>
              
            </ul>
          </div>
        </div>
        

      
      
   
  </div>

</body>
</html>
